<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="assets/ps-logo.png" alt="Logo PSN Store" width="160px" height="38px">
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="https://github.com/Jean-Carlo-Torres/portfolio">PORTFÓLIO</a></li>
            <li><a href="https://www.linkedin.com/in/jeancarlotorre619b21b4/">LINKEDIN</a></li>
            <li><a href="https://github.com/Jean-Carlo-Torres/">GITHUB</a></li>
        </ul>
    </div>
</div>
